<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamoVisualProgramming.Core" version="3.1.0-beta3952" targetFramework="net472" />
  <package id="DynamoVisualProgramming.DynamoServices" version="3.1.0-beta3952" targetFramework="net472" />
  <package id="DynamoVisualProgramming.ZeroTouchLibrary" version="3.1.0-beta3952" targetFramework="net472" />
</packages>